/* GRID */ 

.product-items {
    grid-template-columns: repeat(2, 1fr); /* Two columns */
  }

  /* CHECKOUT CONTENT */

.checkout-section {
    display: block;
    width: 100%;
 }

 .checkbox-containers {
    display: flex;
    width: 100%;
    padding-bottom: 40px;

 }

 .newsletter-container p, .personaldata-container p {
    width: 300px;
 }

.checkout-section label {
  display: flex;
  padding-left: 10%;
}

.discount-code {
    display: block;
    margin-bottom: 30px;
    padding-left: 45px;
}

.discount-code input  {
    margin-left: 5% !important;

}

.discount-code label {
    margin-left: 3% !important;
}


.checkout-section input[type="text"],
.checkout-section input[type="email"],
.checkout-section input[type="tel"] {
    max-width: 250px !important; /* Adjust this value as needed */
    width: 250px !important;
}

.card-details input[type="text"], .card-details input[type="number"] {
    max-width: 200px !important;
    width: 200px !important;
}


